body {
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  color: #11999E;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
}

h2 {
  color: 	#5aa9a9;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
}

nav {
  line-height: 1rem;
}

#navTitle:hover {
  font-size: 1.1rem;
  transition: font-size .3s ease;
}

.about-me, .contact, .footer-link, .nav-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px 25px;
  text-decoration: none;
}

a:hover {
  color:  #AAAAAA;
}

p {
  line-height: 1.75;
}

.navbar {
  background-color: #F4F9F9;
}

.intro {
  background-color: #CCF2F4;
  position: relative;
  padding-top: 6.25em;
}

.middle-container {
  background-color: #F4F9F9;
}

.contact-me {
  background-color: #F4F9F9;
}

.card:hover {
  transform: scale(1.01);
  transition: transform .7s, box-shadow .7s, background .7s;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/* Project Card Overlay */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.card:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.bottom-container {
  background-color: #CCF2F4;
  position: relative;
}

.contact-form-div {
  display: none;
}

.footer-link:hover {
  font-size: 1.1rem;
  line-height: 1rem;
  transition: font-size .3s;
}

.hello {
  margin: 40px auto;
  width: 50%;
}

.pro {
  text-decoration: underline;
}

.mountain {
  position: relative;
  opacity: .75;
}

.cloud-top {
  position: absolute;
  right: 300px;
  top: 30px;
  opacity: .8;
}

.cloud-bottom {
  position: absolute;
  left: 300px;
  bottom: 300px;
  opacity: .9;
}

.profile-picture {
  width: 15%;
  height: 15%;
  border-radius: 20%;
}

.coding-gif {
  border-radius: 20%;
  float: left;
  margin-right: 25px;
  width: 25%;
}

.build {
  padding-top: 25px;
}

.pc {
  float: right;
  margin-left: 25px;
  width: 25%;
}

.skill-row {
  margin: 50px auto 100px auto;
  text-align: left;
  width: 50%;
}

.copyright {
  font-size: .8em;
  padding: 20px;
}

.button-contact-me {
   background: #0F888C;
   background-image: -webkit-linear-gradient(top, #0F888C, #11999E);
   background-image: -moz-linear-gradient(top, #0F888C, #11999E);
   background-image: -ms-linear-gradient(top, #0F888C, #11999E);
   background-image: -o-linear-gradient(top, #0F888C, #11999E);
   background-image: -webkit-gradient(to bottom, #0F888C, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 1.25rem;
   font-weight: 800;
   margin: 20px auto 25px auto;
   padding: 20px;
   -webkit-box-shadow: 0 1px 9px 0 #000000;
   -moz-box-shadow: 0 1px 9px 0 #000000;
   box-shadow: 0 1px 9px 0 #000000;
   text-shadow: 0 1px 0 #000000;
   border: solid #0B6669 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.button-contact-me:hover {
   border: solid #0B6669 1px;
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #0F888C);
   background-image: -moz-linear-gradient(top, #11999E, #0F888C);
   background-image: -ms-linear-gradient(top, #11999E, #0F888C);
   background-image: -o-linear-gradient(top, #11999E, #0F888C);
   background-image: -webkit-gradient(to bottom, #11999E, #0F888C);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
   -webkit-box-shadow: 0 1px 14px 0 #000000;
   -moz-box-shadow: 0 1px 14px 0 #000000;
   box-shadow: 0 1px 14px 0 #000000;
}
